In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/sms.tsv',header=None,delimiter='\t',names=['label','Messages'])

In [3]:
data.head()

  label                                           Messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [5]:
data['label']=data['label'].map({'ham':0,'spam':1})

In [6]:
data.head()

   label                                           Messages
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [7]:
x=data.Messages
y=data.label

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
vect=CountVectorizer()

In [10]:
dtm=vect.fit(x)
dtm

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [11]:
dtm=vect.transform(x)
dtm

<5572x8713 sparse matrix of type '<class 'numpy.int64'>'
	with 74169 stored elements in Compressed Sparse Row format>

In [12]:
x1=dtm.toarray()
x1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
df=pd.DataFrame(dtm.toarray())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,8703,8704,8705,8706,8707,8708,8709,8710,8711,8712
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#cv=CountVectorizer(stop_words='english')

In [15]:
#x_new=cv.fit_transform(x)
#x_new
x1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [16]:
y=y.values
y

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x1,y,test_size=.2,random_state=0)

In [19]:
#from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
import numpy as np

In [20]:
log1=LogisticRegression()

In [21]:
log1.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [22]:
np.bincount(y_test)

array([955, 160], dtype=int64)

In [23]:
pred=log1.predict(x_test)

In [24]:
log1.score(x_test,y_test)

0.9811659192825112

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [26]:
accuracy_score(y_test,pred)

0.9811659192825112

In [27]:
confusion_matrix(y_test,pred)

array([[952,   3],
       [ 18, 142]], dtype=int64)

In [28]:
from sklearn.model_selection import cross_val_score,KFold

In [29]:
s=cross_val_score(MultinomialNB(),x1,y,
                 cv=KFold(5,shuffle=True),
                 scoring='recall')

log=cross_val_score(LogisticRegression(),x1,y,
                   cv=KFold(5,shuffle=True),
                   scoring='recall')

print(np.mean(s))
np.mean(log)

0.942994874538216

0.8725750306158725

In [30]:
print(s.mean())
log.mean()

0.942994874538216

0.8725750306158725

In [31]:
log

array([0.83448276, 0.87647059, 0.8447205 , 0.89230769, 0.91489362])