## Multiple Linear Regression

### Multiple regression is to learn more about the relationship between several independent variables and a dependent variable.

<img src='images/multiple_reg.PNG' />

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### importing dataset

In [3]:
data = pd.read_csv('dataset1/50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
X_new = data.drop('State',axis=1)
y_new = data['State']

In [5]:
X_new.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [6]:
y_new

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object

In [7]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
#pd.get_dummies(data['State'])

In [ ]:
d = pd.get_dummies(data['State'])

In [ ]:
new=data.iloc[:,:-1].select_dtypes(exclude=['object'])

In [ ]:
X=pd.concat((new,d),axis=1)

In [ ]:
#X

In [ ]:
##Now deal with categorical features

In [ ]:
#data.iloc[:,:-1]
data_new = data.iloc[:,:-1]

In [ ]:
s=pd.get_dummies(data['State'])

In [ ]:
s.head()

In [ ]:
m=data_new.select_dtypes(exclude=['object'])

In [ ]:
k=pd.concat((m,s),axis=1)

In [ ]:
k.head()

### Encoding categorical data

In [ ]:
data_new = data.iloc[:,:-1]

In [ ]:
data_new.dtypes

In [ ]:
data_new.head()

In [ ]:
#col=data_new.columns
#print col.tolist()
#c=list(col)
#c

In [ ]:
data2 = pd.get_dummies(data_new[data_new.columns])
#get_dummies:create dummy variables

In [ ]:
data2.head()

In [ ]:
#data2.describe()

In [ ]:
data2.shape

### Split dataset

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=X.values
#type(X)

In [ ]:
y=data.iloc[:,4].values

In [ ]:
#y

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=0)

In [ ]:
print X_train.shape
X_test.shape

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [ ]:
reg.fit(X_train,y_train)

In [ ]:
print reg.coef_
reg.intercept_

In [ ]:
X_test[0]

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_test[0]

In [ ]:
#t=X_test[0]

In [ ]:
#sum(reg.coef_*t)+reg.intercept_

In [ ]:
#y_pred[0]

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

In [ ]:
import seaborn as sb

In [ ]:
data_new['Profit']=data['Profit']

In [ ]:
data_new.head()

In [ ]:
%matplotlib inline

In [ ]:
sb.pairplot(data_new)

In [ ]:
sb.heatmap(data_new.corr(),annot=True)

In [ ]:
data_new.corr()

In [ ]:
data_new.iloc[:,[0,4]].head()

In [ ]:
plt.plot(data_new['R&D Spend'].values,data_new['Profit'].values)

In [ ]:
X_test[0]

In [ ]:
reg.coef_

In [ ]:
reg.intercept_

In [ ]:
t=X_test[0]

In [ ]:
t

In [ ]:
s=[]
for t in X_test:
    
    s.append(reg.intercept_+reg.coef_[0]t[0]+reg.coef_[1]t[1]....)
print s

In [ ]:
from sklearn.datasets import load_boston

In [ ]:
d=load_boston()

In [ ]:
#print d.DESCR
print d.DESCR

In [ ]:
X = d.data
y = d.target

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=10)

In [ ]:
lg = LinearRegression()

In [ ]:
lg.fit(X_train,y_train)

In [ ]:
pred = lg.predict(X_test)

In [ ]:
r2_score(y_test,pred)

In [ ]:
lg.score(X_test,y_test)

In [ ]:
lg.score(X_train,y_train)

In [ ]:
df = pd.read_csv('dataset/data.csv')

In [ ]:
df.head()