Handling categorical data

  cataegorical feature:-
     - ordinal
     - nominal
   
   when data is in formed relational as here (XL>M>L) that is callled ordinal data
   where we can not make realtional data that is called nomial data

In [70]:
import pandas as pd

In [71]:
df=pd.DataFrame([['green','L',10.30,'class1'],
                ['red','M',12.30,'class2'],
                ['blue','Xl',18.30,'class3']])

In [72]:
df.columns=['Color','Size','Price','Target']

In [73]:
df

   Color Size  Price  Target
0  green    L   10.3  class1
1    red    M   12.3  class2
2   blue   Xl   18.3  class3

In [74]:
x={'Xl':3,'M':2,'L':1}

In [75]:
df['Size']=df['Size'].map(x)

Here Target column is label and Color,Size,price are features . In ML we must have numerical data
So here we have to convert (Color,Size,Target) to numerical data

In [76]:
df

   Color  Size  Price  Target
0  green     1   10.3  class1
1    red     2   12.3  class2
2   blue     3   18.3  class3

In [77]:
pd.get_dummies(df['Color'])

   blue  green  red
0     0      1    0
1     0      0    1
2     1      0    0

In [78]:
g=df.iloc[:,:-1].select_dtypes(exclude=['object'])
g

   Size  Price
0     1   10.3
1     2   12.3
2     3   18.3

In [79]:
f=pd.get_dummies(df['Color']) #use for convert data in numerical form
n_df=pd.concat((g,f),axis=1)
n_df

   Size  Price  blue  green  red
0     1   10.3     0      1    0
1     2   12.3     0      0    1
2     3   18.3     1      0    0

In [80]:
y={'class1':0,'class2':1,'class3':2}
df['Target']=df['Target'].map(y)
df0=df.iloc[:,3:4]
df0

   Target
0       0
1       1
2       2

In [81]:
df1=pd.concat((n_df,df0),axis=1)
df1

   Size  Price  blue  green  red  Target
0     1   10.3     0      1    0       0
1     2   12.3     0      0    1       1
2     3   18.3     1      0    0       2