Handling categorical data

  cataegorical feature:-
     - ordinal
     - nominal (one hot encoding)
   
   when data is in formed relational as here (XL>M>L) that is callled ordinal data
   where we can not make realtional data that is called nomial data

In summary, nominal variables are used to “name,” or label a series of values. Ordinal scales provide good information about the order of choices, such as in a customer satisfaction survey. Interval scales give us the order of values + the ability to quantify the difference between each one.

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([['green','L',10.30,'class1'],
                ['red','M',12.30,'class2'],
                ['blue','Xl',18.30,'class3']])

In [3]:
df.columns=['Color','Size','Price','Target']

In [4]:
df

   Color Size  Price  Target
0  green    L   10.3  class1
1    red    M   12.3  class2
2   blue   Xl   18.3  class3

In [5]:
x={'Xl':3,'M':2,'L':1}

In [6]:
df['Size']=df['Size'].map(x)

Here Target column is label and Color,Size,price are features . In ML we must have numerical data
So here we have to convert (Color,Size,Target) to numerical data

In [7]:
df

   Color  Size  Price  Target
0  green     1   10.3  class1
1    red     2   12.3  class2
2   blue     3   18.3  class3

In [8]:
pd.get_dummies(df[df.columns]) #all object in column will be encoding

,Size,Price,Color_blue,Color_green,Color_red,Target_class1,Target_class2,Target_class3
0,1,10.3,0,1,0,1,0,0
1,2,12.3,0,0,1,0,1,0
2,3,18.3,1,0,0,0,0,1

In [9]:
pd.get_dummies(df['Color'])

   blue  green  red
0     0      1    0
1     0      0    1
2     1      0    0

In [ ]:
g=df.iloc[:,:-1].select_dtypes(exclude=['object'])
g

In [ ]:
f=pd.get_dummies(df['Color']) #use for convert data in numerical form
n_df=pd.concat((g,f),axis=1)
n_df

In [ ]:
y={'class1':0,'class2':1,'class3':2}
df['Target']=df['Target'].map(y)
df0=df.iloc[:,3:4]
df0

In [ ]:
df1=pd.concat((n_df,df0),axis=1)
df1